* {
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: hidden;
}

.container {
    width: 80%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
    margin: auto;
}

#form_sms {
    text-align: center;
}

h2 {
    font-size: 20px;
    color: white;
}

#subtitle {
    margin-top: 30px;
}

label {
    color: white;

    font-size: 14px;
}

.form_input {
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;   

    border-radius: 15px;
    border: none;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 0 0 2px black;
}

#phone_number {
    width: 100%;
}

#msg {
    width: 100%;
}

.hints {
    color: white;
    text-align: justify;
    font-size: 12px;
    opacity: 0.5;
}

#btn_submit_sms {
    margin-top: 30px;
    width: 125px;
    height: 25px;

    font-weight: 700;
    font-size: 16px;

    border-radius: 15px;
    border: none;

    background-color: seagreen;
    color: white;
}

/* =================== MEDIA =================== */
@media (min-width: 360px), (min-height: 640px) {
    .hints {
        margin-left: 15px;
    }
}